.headerLeftTitle {
  display: inline-block !important;
  vertical-align: middle !important;
}

.headerRightDiv {
  float: right;
  margin-right: 20%;
  cursor: pointer;
}

:root .ant-dropdown-trigger .anticon:not(.anticon-ellipsis),
:root .ant-dropdown-link .anticon:not(.anticon-ellipsis) {
  font-size: 20px;
}

.ant-dropdown-menu-item > a {
  display: inline-block !important;
}

.dashboardRightDiv .ant-card,
.dashboardLeftDiv .ant-card {
  width: initial !important;
  /* margin-left: 10px;
  margin-right: 10px; */
  margin: 0 10px;
}
/* 
.dashboardRightDiv .boardContainerCard {
  border: none;
} */

.dashboardRightDiv .boardCardContentDiv {
  margin: 20px 0;
}

.dashboardRightDiv .boardCardContentDiv h2 {
  margin: 0 20px;
  display: inline;
}
